@page "/createPost"
@inject IPostsManager postManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h2>
    Add Post
</h2>

<EditForm Model="@post" OnValidSubmit="CreatePost">
    <DataAnnotationsValidator />
    <div>
        <div class="form-group">
            <label for="Title" class="control-label">Title</label>
            <input for="Title" type="text" class="form-control" @bind-value="@post.Title" />
            <ValidationMessage For="@(() => post.Title)" />
        </div>
        <div class="form-group">
            <label for="Content" class="control-label">Content</label>
            <ValidationMessage For="@(() => post.PostContent)" />
            <textarea for="Content" style="height:400px" class="form-control" @bind="@post.PostContent" @bind:event="oninput" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
        </div>
    </div>
</EditForm>

@code {

    PostModel post = new PostModel();

    protected async Task CreatePost()
    {
        await postManager.Insert(PostMapper.MappData(post));
        navigationManager.NavigateTo("/posts");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/posts");
    }
}