@page "/editPost/{ID}"
@inject IPostsManager postManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<h2>
    Edit Post
</h2>

<EditForm Model="@post" OnValidSubmit="UpdatePost">
    <DataAnnotationsValidator />
    <div>
        <div class="form-group">
            <label for="Title" class="control-label">Title</label>
            <input for="Title" type="text" class="form-control" @bind-value="@post.Title" />
            <ValidationMessage For="@(() => post.Title)" />
        </div>
        <div class="form-group">
            <label for="Content" class="control-label">Content</label>
            <ValidationMessage For="@(() => post.PostContent)" />
            <textarea for="Content" style="height:400px" class="form-control" @bind="@post.PostContent" @bind:event="oninput" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
        </div>
    </div>
</EditForm>

@code  {

    [Parameter]
    public string ID { get; set; }

    PostModel post = new PostModel();

    protected override async Task OnInitializedAsync()
    {
        Post p = await postManager.SelectById(Convert.ToInt32(ID));
        post = PostMapper.MappData(p);
    }

    protected async Task UpdatePost()
    {
        await postManager.Update(PostMapper.MappData(post));
        navigationManager.NavigateTo("/posts");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/posts");
    }
}
